@import url("https://fonts.googleapis.com/css2?family=Anton&family=Codystar:wght@300;400&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Foldit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f4f1ed;
  font-family: sans-serif;
}
.container {
  width: 80rem;
  margin: 0 auto;
}
.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-desc {
  position: absolute;
  color: white;
  z-index: 1;
  text-align: center;
  font-size: 42px;
}
.hero-desc p {
  margin-bottom: 20px;
  font-weight: 600;
}
.hero-desc h1 {
  margin-bottom: 10px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 300;
  letter-spacing: 10px;
}
.hero {
  height: 100vh;
}
.hotel-main-image {
  height: 100%;
  width: 100%;
  filter: brightness(70%);
}
.hero-btn {
  margin-top: 45px;
  cursor: pointer;
  padding: 10px 35px;
  background-color: #f4f1ed;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
}
.hero-btn:hover {
  background-color: #e3e0dd;
}
.hero-btn:active {
  background-color: #cac8c7;
}

/* welcome Section */
.welcome-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.welcome-section-desc {
  color: #623e2a;
  width: 37rem;
  margin: 0 auto;
  font-family: "Playfair Display", sans-serif;
}
.welcome-section-desc h1 {
  font-size: 60px;
  margin-bottom: 50px;
  font-weight: 100;
}
.welcome-section-desc p {
  font-size: 18px;
}
.welcome-section-img {
  margin: 0 auto;
  width: 500px;
  height: 500px;
}
.welcome-section-img img {
  height: 100%;
  width: 100%;
}
/* Options */
.services {
  background-color: #efebe5;
  height: 100vh;
  padding-top: 50px;
}
.service-title {
  text-align: center;
  font-size: 60px;
  font-family: "Playfair Display", sans-serif;
  letter-spacing: 5px;
  margin-bottom: 30px;
  color: #623e2a;
  font-weight: 300;
}
.options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-bottom: 500px;
}
.option {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.service-desc {
  border: 1px solid #623e2a;
  padding: 10px;
}
.service-desc p {
  margin-bottom: 20px;
}
.service-desc h1 {
  margin-bottom: 20px;
  font-weight: 300;
  font-family: "Playfair Display", sans-serif;
  color: #623e2a;
}
.img {
  height: 250px;
  width: 100%;
}
.img img {
  height: 100%;
  width: 100%;
}
/* ayads section */
.ayads-section {
  height: 100vh;
  margin-top: 87px;
}
.ayad-section-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.ayad-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ayad-desc h1 {
  font-size: 60px;
  font-weight: 300;
  font-family: "Playfair Display", sans-serif;
  color: #623e2a;
  margin-left: 60px;
}
.ayad-desc p {
  font-weight: 300;
  color: #623e2a;
  font-size: 15px;
  letter-spacing: 2px;
  margin-left: 60px;
  margin-top: 320px;
}

.ayad-img img {
  height: 400px;
  width: 650px;
  margin-bottom: 40px;
  margin-top: 30px;
}
.logo {
  margin-right: 60px;
}
.ayad-img p {
  border: 2px solid #623e2a;
  margin-right: 60px;
  display: flex;
  justify-content: center;
  padding: 10px;
  font-size: 13px;
  font-weight: 300;
  color: #623e2a;
}
.ayad2-container {
  height: 100vh;
}
.ayad2-desc {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  gap: 30px;
}
.logo1-a {
  width: 400px;
  height: 500px;
  margin-left: 40px;
}
.logo2-a {
  width: 830px;
  height: 500px;
  margin-right: 80px;
}
.text1-a p {
  margin-left: 40px;
  border: 2px solid #623e2a;
  font-size: 13px;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-style: italic;
  margin-top: 20px;
}
.text2-a p {
  margin-top: 20px;
  border: 2px solid #623e2a;
  font-size: 13px;
  padding: 17px;
  font-style: italic;
  display: flex;
  justify-content: center;
  margin-right: 80px;
}
.ayad-3desc {
  height: 100vh;
  background: #efebe5;
}
.ayad-3desc h2 {
  display: flex;
  justify-content: center;
  font-family: "Playfair Display", sans-serif;
  color: #623e2a;
  font-weight: 300;
  font-size: 70px;
  margin-bottom: 40px;
}
.ayad-3container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}
.wena1 {
  width: 400px;
  height: 300px;
  margin-left: 40px;
}
.wena2 {
  width: 400px;
  height: 300px;
}
.wena3 {
  width: 400px;
  height: 300px;
  margin-right: 80px;
}
.tartibat1 h1 {
  margin-top: 40px;
  margin-left: 50px;
  font-family: "Playfair Display", sans-serif;
  color: #623e2a;
  font-weight: 100;
}
.tartibat2 h1 {
  margin-top: 40px;
  margin-left: 20px;
  font-family: "Playfair Display", sans-serif;
  color: #623e2a;
  font-weight: 100;
}
.tartibat3 h1 {
  margin-top: 13px;
  margin-left: 20px;
  font-family: "Playfair Display", sans-serif;
  color: #623e2a;
  font-weight: 100;
}
.tartibat1 p {
  margin-left: 53px;
  margin-top: 22px;
  color: #623e2a;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-right: 13px;
}
.tartibat2 p {
  margin-left: 23px;
  margin-top: 22px;
  color: #623e2a;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-right: 40px;
}
.tartibat3 p {
  margin-left: 23px;
  margin-top: 7px;
  color: #623e2a;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-right: 41px;
}
.border-a {
  border: 1px solid #623e2a;
  padding-bottom: 57px;
  margin-left: 40px;
}
.border2-a {
  border: 1px solid #623e2a;
  padding-bottom: 57px;
}
.border3-a {
  border: 1px solid #623e2a;
  padding-bottom: 57px;
  margin-right: 80px;
}
.awayl-desc {
  height: 100vh;
  background-image: url(.//Images/photo_2024-08-18_16-13-04.jpg);
  background-position: center;
  background-size: cover;
  filter: brightness(80%);
  color: #fff;
  font-family: "Playfair Display", sans-serif;
}
.awayl-desc h1 {
  display: flex;
  justify-content: center;
  font-size: 60px;
  margin-top: 20px;
}
.space h1 {
  position: relative;
  top: 100px;
}
.awayl-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pro1 p {
  margin-top: 320px;
  font-size: 17px;
  margin-left: 40px;
}
.pro2 p {
  margin-top: 320px;
  font-size: 17px;
  margin-left: 40px;
}
.pro3 p {
  margin-top: 320px;
  font-size: 17px;
  margin-left: 40px;
}
.pro1 h3 {
  margin-top: 50px;
  margin-left: 40px;
}
.pro2 h3 {
  margin-top: 50px;
  margin-left: 40px;
}
.pro3 h3 {
  margin-top: 50px;
  margin-left: 40px;
}
.pro1 h2 {
  margin-left: 40px;
  position: relative;
  top: 52px;
}
.pro2 h2 {
  margin-left: 40px;
  position: relative;
  top: 52px;
}
.pro3 h2 {
  margin-left: 40px;
  position: relative;
  top: 52px;
}
.kota-desc {
  height: auto;
  background-color: #623e2a;
  color: #fff;
}
.kota-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 200px;
}
.kota-desc h3 {
  font-size: 40px;
  font-family: "Playfair Display", sans-serif;
  margin-left: 40px;
  position: relative;
  top: 60px;
}
.div1 p {
  margin-left: 40px;
  margin-bottom: 20px;
  position: relative;
  bottom: 25px;
}
.div1 h1 {
  font-size: 20px;
  font-family: "Playfair Display", sans-serif;
  margin-bottom: 30px;
}
.mawqih {
  width: 20px;
  height: 20px;
}
.mobyl {
  width: 20px;
  height: 20px;
}
.nama {
  width: 20px;
  height: 20px;
}
.div2 h1 {
  font-size: 20px;
}
