@import url("https://fonts.googleapis.com/css2?family=Anton&family=Codystar:wght@300;400&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Foldit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f4f1ed;
  font-family: sans-serif;
}
.container {
  width: 80rem;
  margin: 0 auto;
}
.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-desc {
  position: absolute;
  color: white;
  z-index: 1;
  text-align: center;
  font-size: 42px;
}
.hero-desc p {
  margin-bottom: 20px;
  font-weight: 600;
}
.hero-desc h1 {
  margin-bottom: 10px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 300;
  letter-spacing: 10px;
}
.hero {
  height: 100vh;
}
.hotel-main-image {
  height: 100%;
  width: 100%;
  filter: brightness(70%);
}
.hero-btn {
  margin-top: 45px;
  cursor: pointer;
  padding: 10px 35px;
  background-color: #f4f1ed;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
}
.hero-btn:hover {
  background-color: #e3e0dd;
}
.hero-btn:active {
  background-color: #cac8c7;
}

/* welcome Section */
.welcome-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.welcome-section-desc {
  color: #623e2a;
  width: 37rem;
  margin: 0 auto;
  font-family: "Playfair Display", sans-serif;
}
.welcome-section-desc h1 {
  font-size: 60px;
  margin-bottom: 50px;
  font-weight: 100;
}
.welcome-section-desc p {
  font-size: 18px;
}
.welcome-section-img {
  margin: 0 auto;
  width: 500px;
  height: 500px;
}
.welcome-section-img img {
  height: 100%;
  width: 100%;
}
/* Options */
.services {
  background-color: #efebe5;
  height: 100vh;
  padding-top: 50px;
}
.service-title {
  text-align: center;
  font-size: 60px;
  font-family: "Playfair Display", sans-serif;
  letter-spacing: 5px;
  margin-bottom: 30px;
  color: #623e2a;
  font-weight: 300;
}
.options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-bottom: 500px;
}
.option {
  width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.service-desc {
  border: 1px solid #623e2a;
  padding: 10px;
}
.service-desc p {
  margin-bottom: 20px;
}
.service-desc h1 {
  margin-bottom: 20px;
  font-weight: 300;
  font-family: "Playfair Display", sans-serif;
  color: #623e2a;
}
.img {
  height: 250px;
  width: 100%;
}
.img img {
  height: 100%;
  width: 100%;
}
.ayads-section {
  background-color: #efebe5;
}
.ayads-section h1 {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 200px;
  margin-left: 15%;
  height: 100%;
  width: 100%;
  font-family: "Playfair Display", sans-serif;
  color: #623e2a;
  font-weight: 300;
  font-size: 60px;
}
.ayads-section p {
  display: flex;
  align-items: center;
  margin-bottom: 200px;
  margin-left: 15%;
  height: 100%;
  width: 100%;
  font-family: "Playfair Display", sans-serif;
  font-weight: 300;
  font-size: 20px;
  font-style: normal;
  letter-spacing: 2px;
}
.ayads-section h2 {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-left: 60%;
  margin-bottom: 200px;
  height: 100%;
  font-family: "Playfair Display", sans-serif;
  font-weight: 300;
  font-size: 20px;
  position: relative;
  bottom: 285px;
  border: 2px solid #623e2a;
  justify-content: center;
  border-radius: none;
  text-align: center;
  margin-right: 100px;
  padding: 10px 10px 15px 10px;
  letter-spacing: 1px;
  margin-left: 65rem;
}
